<footer class="footer">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="social-icons">
                <a href="https://www.facebook.com/"><span class="bi bi-facebook"></span></a>
                <a href="https://www.instagram.com/"><span class="bi bi-instagram"></span></a>
                <a href="https://www.youtube.com/"><span class="bi bi-youtube"></span></a>
                <a href="https://www.twitter.com/"><span class="bi bi-twitter"></span></a>
            </div>
        </div>
    </div>
</div>


  <div class="row">
    <ul>
      <li><a routerlink="/contacts">Contact us</a></li>
      <li><a routerlink="/contacts">Our Services</a></li>
      <li><a routerlink="/contacts">Privacy Policy</a></li>
      <li><a routerlink="/contacts">Terms & Conditions</a></li>
      <li><a routerlink="/contacts">Career</a></li>
    </ul>
  </div>

  <div class="row">
    <p>Copyright © 2021 Inferno - All rights reserved || Designed By: Mahesh</p>
  </div>
</footer>
