.container {
  background-image: linear-gradient(to left, #fdc883, #99c8f3);
  width: 100%;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribute space between columns */
}

.col {
  flex: 0 0 calc(33.33% - 20px); /* Calculate 1/3 of the container width with spacing */
  max-width: calc(33.33% - 20px); /* Ensure each column takes up 1/3 of the container width */
  margin-bottom: 20px; /* Add margin to create space between rows */
  padding: 0; /* Reset padding */
}

.card {
  width: 100%; /* Ensure card covers the entire width of the column */
}

.input-container {
  margin-bottom: 20px;
  text-align: center;
}

.input-container input {
  width: 100%;
  /* Adjust width as needed */
  padding: 10px;
  font-size: 16px;
  border: 2px solid #5756e6;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.input-container input:focus {
  border-color: #f7bf88;
}


/* .video-container {
  background-image: linear-gradient(to left, #fdc883, #99c8f3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; Ensure the video stays in the background
} */

.footer_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  position: relative;
  z-index: 1;
}

.card img { 
  padding: 15px;
  border-radius: 50px;
 
}

.card img:hover {
  transform: translateY(-5px) scale(1.05);
  padding: 15px;
  border-radius: 50px;
}

.card {
  border-radius: 50px;
  transition: transform 0.3s ease;
  background-color: rgb(255, 243, 202);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
  font-weight: bolder;
  font-variant: small-caps;
}

.card:hover {
  background-image:  #fdd8a7;
  transform: translateY(-5px); /* Adjust the value as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn {
  margin-left: 30%;
  border: 1px solid rgb(241, 35, 35);
  transition: transform 0.3s ease;
}

.btn:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  border-color: white;
  transform: translateY(-5px); /* Adjust the value as needed */
}
