<app-navbar></app-navbar>

<div class="container">
  <span class="big-circle"></span>
  <img src="img/shape.png" class="square" alt="" />
  <div class="form">
    <div class="contact-info">
      <h3 class="title" style="color:#5756e6;">Let's get in touch</h3><br>
      <p class="text">
        We at RoomRover are here to help you at every stage. Our committed staff is here to listen to your concerns and offer timely assistance, whether you need assistance with reservations, have questions, or would just like to express your thoughts!!!!
      </p>

      <div class="info">
        <div class="information">
          <i class="fas fa-map-marker-alt"></i>

          <p>92 Cherry Drive Uniondale, NY 11553</p>
        </div>
        <div class="information">
          <i class="fas fa-envelope"></i>
          <p>info&#64;roomrover.com</p>
        </div>
        <div class="information">
          <i class="fas fa-phone"></i>
          <p>123-456-789</p>
        </div>
      </div>

      <div class="social-media">
        <p>Connect with us :</p>
        <div class="social-icons">
          <a href="https://www.facebook.com/">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://twitter.com/">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://instagram.com/">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://linkedin.com/">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="contact-form">
      <span class="circle one"></span>
      <span class="circle two"></span>
      <p class="context">Need assistance or have any inquiries? Feel free to get in touch with us! Our dedicated team is here to provide you with prompt and personalized support. Whether you have questions about our services, want to give feedback, or require assistance with a booking, we're just a message away. Reach out to us via phone, email, or social media, and we'll ensure that your queries are addressed with the utmost care and attention to detail. Your satisfaction is our priority, and we look forward to hearing from you soon!</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
