<app-navbar></app-navbar>
<app-carousel></app-carousel>

<body>
<!-- <header class="bg-dark">
    <div id="showcase">
        <div class="container">
            <div class="showcase-content">
                <span class="fg-text">
                    <h1><span class="text">Enjoy</span> Your Stay</h1>
                    <p class="lead" style="color:white; font-weight: bold;">Discover Your Perfect Stay with RoomRover! Explore a World of Endless Possibilities,
                        Where Every Room Tells a Unique Story. Book Your Journey to Comfort and Convenience Today with
                        RoomRover!</p>
                    <a routerLink="/about-us" class="btn">About Us</a>
                </span>
            </div>
        </div>
    </div>
</header> -->

<section id="home-info">
    <div class="info-image">
        <div class="gallery">
            <img src="../../../assets/images/hotel_1.jpeg" alt="many clothes and pictures">
            <img src="../../../assets/images/hotel_2.jpeg" alt="someone preparing artisanal coffee">
            <img src="../../../assets/images/hotel_3.jpeg" alt="some tee">
            <img src="../../../assets/images/hotel_4.jpeg" alt="an empty table in a restaurant">
            <img src="../../../assets/images/hotel_5.jpeg" alt="a laptop with a notebook">
            <img src="../../../assets/images/hotel_6.jpeg" alt="a laptop and many books around it">
          </div>
          
    </div>
    <div class="info-content">
        <h2><span class="text">Embark on a Journey</span>Through the Rich History of Our Hotel!</h2>
        <p>From Its Humble Beginnings to Its Magnificent Present, Experience the Evolution of Luxury and Hospitality.
            Immerse Yourself in the Story of Our Establishment, Where Every Detail Reflects Excellence and Dedication.
            Welcome to a World Where Tradition Meets Innovation, Where Memories Are Made and Stories Unfold. RoomRover
            invites you to Discover the Legacy Behind Our Name.</p>
        <a href="/about-us" class="btn" style="color: black;">Read More</a>
    </div>
</section>


<section id="features" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <i class="bi bi-geo-alt-fill fs-1 mb-3"></i>
                        <h3 class="card-title"  >Great Location</h3>
                        <p class="card-text">We welcome you to indulge in the convenience and charm of our prime locations across the globe.</p>
                    </div>
                
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <i class="bi bi-cup-fill fs-1 mb-3"></i>
                        <h3 class="card-title">Free Meals</h3>
                        <p class="card-text">Enjoy complimentary meals during your stay, adding an extra layer of delight to your experience.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <i class="bi bi-bicycle fs-1 mb-3"></i>
                        <h3 class="card-title">Fitness Room</h3>
                        <p class="card-text">Elevate your stay with access to our state-of-the-art fitness room at RoomRover.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

<app-footer></app-footer>